.slidebtn {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

/* spoqa han sans 슬라이드 버튼 */

html {
    overflow-x: hidden;
}

html, html a, body {
    -webkit-font-smoothing: antialiased;
}

body {

    position: relative;
    font-family: sans-serif;
    /*background-image: url("../imgs/test.jpg");*/
}

/* Fixed Top */
.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}

/* Navbar */
.header .navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar Toggle */
.header .navbar-toggle {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    margin: 35px 0;
}

.header .navbar-toggle .toggle-icon {
    position: relative;
    width: 21px;
    height: 1px;
    display: inline-block;
    background: #515769;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:before, .header .navbar-toggle .toggle-icon:after {
    position: absolute;
    left: 0;
    background: #515769;
    content: " ";
}

.header .navbar-toggle .toggle-icon:before {
    width: 10px;
    height: 1px;
    bottom: 10px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:after {
    width: 16px;
    height: 1px;
    top: -5px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon {
    /* COLOR background: #17bed2;*/
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon:before, .header .navbar-toggle:hover .toggle-icon:after {
    width: 21px;
    height: 1px;
    /*  background: #17bed2; */
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon.is-clicked {
    background: rgba(81, 87, 105, 0);
}

/* Navbar Logo */
.header .logo {
    width: 150px;
    height: 150px;
    float: left;
    max-height: 95px;
    line-height: 65px;
}

.header .logo-wrap {
    display: inline-block;
    padding: 15px 0;
}

.header .logo-wrap:focus, .header .logo-wrap:hover {
    text-decoration: none;
}

.header .logo-img {
    display: inline-block;
    width: 146px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.header .logo-img-main {
    display: inline-block;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .logo-img-active {
    display: none;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar */
.header .navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Nav */
.header .nav-item {
    position: relative;
    display: block;
}

.header .nav-item:last-child .nav-item-child {
    padding-right: 0;
}

.header .nav-item.active .nav-item-hover:after {
    opacity: 1;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item:hover .nav-item-hover:after {
    opacity: 1;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child {
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: 600;
    font-family: Hind, sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 55px;
    padding: 20px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child:hover, .header .nav-item-child:focus {
    background: inherit;
}

.header .nav-item-hover {
    position: relative;
}

.header .nav-item-hover:after {
    position: absolute;
    top: 45px;
    left: 0;
    width: 9px;
    height: 2px;
    /*  background: #17bed2; */
    opacity: 0;
    content: " ";
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* navbar hover */
.navbar .brand, .navbar .nav > li > a:hover {
    color: #F56E6E;
}

/* Media Queries below 991px */
@media (max-width: 991px) {
    /* Bootstrap collapse of navigation with a maximum width: 991px
      (Change it to any breakpoint you want to be collapsed) */
    .header {
        background: #fff;
    }

    .header .navbar-toggle {
        display: block;
    }

    .header .navbar-collapse.collapse {
        display: none !important;
    }

    .header .navbar-collapse.collapse.in {
        display: block !important;
    }

    .header .nav-collapse {
        padding-left: 0;
        padding-right: 0;
    }

    .header .navbar-nav {
        margin: 0;
        float: none;
    }

    .header .navbar-nav .nav-item {
        float: none;
    }

    /* Menu Container */
    .header .menu-container:before, .header .menu-container:after {
        content: " ";
        display: table;
    }

    .header .menu-container:after {
        clear: both;
    }

    /* Logo */
    .header .logo .logo-img-main {
        display: none;
    }

    .header .logo .logo-img-active {
        display: inline-block;
    }

    /* Navbar Nav */
    .header .nav-item-child {
        color: #515769;
        line-height: 1.4;
        padding: 12px 12px 12px 15px;
    }

    .header .nav-item-hover:after {
        position: absolute;
        top: 19px;
    }
}

/* Media Queries below 767px */
@media (max-width: 767px) {
    /* Menu Container */
    .header .menu-container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .header .navbar > .container {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .header .navbar > .container > .nav-collapse {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Media Queries above 992px */
@media (min-width: 992px) {
    /* Navbar */
    .header .navbar-nav-right {
        float: right;
    }
}

/* Page On Scroll */
@media (min-width: 992px) {
    .page-on-scroll .header .navbar {
        background: #fff;
        border-bottom-color: #f0f0f0;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }

    .page-on-scroll .header .logo-img-main {
        display: none;
        transition-duration: 400ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }

    .page-on-scroll .header .logo-img-active {
        display: inline-block;
        transition-duration: 400ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }

    .page-on-scroll .header .nav-item-child {
        color: #515769;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }
}

/* main */

#main {
    left: 50%;
    top: 150px;
    color: #ffffff;
    margin: 0;
    position: absolute;
}

.slidebtn {
    position: relative;
    top: 50%;
}

/* main container */

.easyintro {
    position: absolute;
    left: 37%;
    right: 25%;
    font-size: 18px;
}

/* footer */

#footer {
    position: relative;
    height: 160px;
    background-color: #333;
    color: white;
}

.footerIntro {
    position: absolute;
    top: 30%;
    left: 45%;
}

.footerLogo {
    position: absolute;
    display: inline-block;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    display: inline-block;
    width: 146px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    top: 25%;
    left: 7%;
}

@media screen and (min-width: 768px) {
    .footerLogo {
        position: absolute;
        display: inline-block;
        transition-duration: 400ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        display: inline-block;
        width: 146px;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        top: 25%;
        left: 20%;
    }
}

/* developers */

.bg_developers {
    position: relative;
    height: 350px;
    width: 100%;
    background-image: url(../img/slide1.jpg);
    top: 30%;
}

.devIntro {
    position: absolute;
    top: 50%;
    left: 20%;
    color: aliceblue;
    font-size: 30px;
}

.intro_developers {
    position: relative;
    width: 100%;
    height: 800px;
}

.intro_dev_fix {
    position: relative;
    left: 10%;
}

.intro_member {
    left: 5%;
    margin-bottom: 5px;
    height: 300px;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    width: 17%;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    line-height: 20px;
}

.member_name {
    margin-top: 240px;
    margin-left: -8%;
}

.intro_dev_box {
    position: relative;
    width: 150px;
}

.dev_name {
    text-align: center;
    font-size: 20px;
    color: #1f4c59;
}

.dev_type {
    position: relative;
    font-size: 13px;
    text-align: center;
    margin-top: -10px;
}

.dev_img {
    width: 150px;
    height: 200px;
}

/* recuit */


.bg_recruit {
    position: relative;
    height: 350px;
    width: 100%;

    background-image: url(../img/recruit.jpg);
    top: 30%;
}

.recruitIntro {
    position: absolute;
    top: 50%;
    left: 20%;
    color: aliceblue;
    font-size: 30px;
}

/* project */

.bg_project {
    position: relative;
    height: 350px;
    width: 100%;
    background-image: url(../img/project.jpg);
    top: 30%;
}

.projectIntro {
    position: absolute;
    top: 50%;
    left: 20%;
    color: aliceblue;
    font-size: 30px;
}

/* design */

.bg_design {
    position: relative;
    height: 350px;
    width: 100%;
    background-image: url(../img/design.jpg);
    top: 30%;
}

.designIntro {
    position: absolute;
    top: 50%;
    left: 20%;
    color: aliceblue;
    font-size: 30px;
}